# Ignore everything in the repository by default
/*

# Do not ignore the gitignore file itself
!.gitignore

# Allow the public directory but ignore its internal contents
!public/
public/*

# Do not ignore the privacy policy html page
!public/privacy.html

